.contentChat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
}

.inputs form {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.inputs input {
    background: #d9d9d9;
    border: none;
}

.inputs button {
    padding: 1.15rem;
    width: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: "Istok Web", sans-serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}

.inputs button:hover {
    transform: scale(1.1);
}